# Custom addition
./Algorithms/bin
./Algorithms/obj
./AlgorithmsGUI/bin
./AlgorithmsGUI/obj

./AlgorithmsTests/bin
./AlgorithmsTests/obj

**/bin/**
**/obj/**

*.user
*.suo
*.log
*.userosscache
*.sln.docstates/publish/